html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

















body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #dddada;
}

.header {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    color: white;
    font-size: medium;
    font-weight: 600;
}

.header-h1 {
    font-size: 30px;
}

/* .header-p{
    margin: 6px 0px 0px 0px;
} */

/* .header-blockquote{
    text-align: center;
    width: 100vw;
    margin: 0px;
    padding: 5px;
    border: 1px solid white;
    background-color: #9c9c9c;
} */

.section {
    width: 88vw;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 3px 3px 10px 1px #6e6e6e;
}

.section-title {
    height: 5vh;
    border-bottom: 1px solid rgb(201, 196, 196);
    font-size: smaller;
}

.section1-info-p {
    text-decoration: underline;
    text-underline-offset: 1px;
    text-transform: capitalize;
}

.section1-info-blockquote {
    background-color: #f0f0f0;
    border-left: 10px solid #ccc;
    margin: 0px;
    padding: 7px 14px;
    font-style: italic;
    color: #646464;
}

.section2-info {
    width: 99%;
    margin: 17px auto;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.box1 {
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 2.5rem;
    padding: 5px 17px;
    box-shadow: 5px 5px 5px 0px #919090;
}

.box2 {
    font-family: fantasy;
    border: 1rem solid rgb(79, 114, 96);
    border-radius: 10px;
    padding: 5px 17px;
    box-shadow: 5px 5px 5px 0px #919090;
    background-color: #2d9b64;
    margin-top: 15px;
}


.section3-info {
    margin-top: 20px;
    font-size: 13.5px;
    /* background-color: #580404; */
    /* height: 110px; */
    margin-bottom: calc(50px - 4vw);

}

.relative-box-info {
    padding: 10px;
    background-color: rgb(26, 107, 80);
    position: relative;
    border-radius: 7px;
    /* margin-bottom: 50px; */
    /* border: 1px solid black; */
}

.relative-box {
    max-width: 42.5vw;
}

.absolute-box {
    position: absolute;
    color: white;
    background-color: #1c9b0b;
    border-radius: 7px;
    /* border: 1px solid black; */
    top: 12px;
    left: 44vw;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    margin-top: 30px;
    gap: 2vw;
    /* justify-items: center; */
    /* align-content: center; */
}

.grid-item {
    background-color: #7167ff;
    /* height: 50px; */
    text-align: center;
    padding: 20px 0px;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}

.animacion {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 15px 0px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animacion:hover {
    background-color: aqua;
}

.mover {
    background-color: aqua;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    animation: mover 3s infinite;
}

@keyframes mover {
    0% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(20vw);
    }

    70% {
        transform: translateX(16vw);
    }

    80% {
        transform: translateX(58vw);
    }

    100% {
        transform: translateX(0);
    }
}

/*parte Responsiva*/

@media screen and (min-width:860px) {
    .section3-info {
        margin-bottom: calc(50px - 3vw);
    }
}

@media screen and (max-width:768px) {
    body {
        background-color: #879899;
    }

    .header-h1 {
        font-size: 18px;
    }

    /* .section3-info{
        margin-bottom: calc(50px - 4vw);
    } */
}

@media screen and (max-width:480px) {
    .section {
        padding: 10px;
    }

    .section-title {
        font-size: 10px;
    }
}

@media screen and (min-width:1160px) {
    .section3-info {
        margin-bottom: calc(50px - 2.5vw);
    }
}

@media screen and (min-width:1460px) {
    .section3-info {
        margin-bottom: calc(50px - 1.5vw);
    }
}